/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid-x {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.error-div {
  background: black;
  color: white;
  padding: 20px;
}
